#Solutions-Container04 {
  width: 100%;
}
#Solutions-Container04 .Container04_Wrap {
  width: 80%;
  margin: 0 auto;
  padding: 191px 0 0px;
}
#Solutions-Container04 .Container04_Wrap > p {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  margin-right: 18%;
}
#Solutions-Container04 .Container04_Wrap .Text_Wrap > h3:nth-child(1) {
  font-size: 52px;
  font-weight: 700;
  background: linear-gradient(to top, #00afc7, #57ddd8);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}
#Solutions-Container04 .Container04_Wrap .Text_Wrap > h3:nth-child(2) {
  font-size: 56px;
  font-weight: 700;
  margin: 18px 0;
}
#Solutions-Container04 .Container04_Wrap .Text_Wrap > p {
  font-size: 32px;
  font-weight: 400;
}
#Solutions-Container04 .Container04_Wrap img {
  width: auto;
  object-fit: contain;
}
@media (max-width: 769px) {
  #Solutions-Container04 .Container04_Wrap {
    width: 90%;
  }
  #Solutions-Container04 .Container04_Wrap .Text_Wrap > h3:nth-child(2) {
    font-size: 1.3em;
  }
  #Solutions-Container04 .Container04_Wrap .Text_Wrap > p {
    font-size: 14px;
  }
  #Solutions-Container04 .Container04_Wrap img {
    width: 100%;
  }
  #Solutions-Container04 .Container04_Wrap > p {
    margin-right: 0;
    text-align: center;
    font-size: 10px;
  }
}
