#Fulfilment-Container04 {
  background: url(../../../images/Benefit/Contents_bg_02.png) no-repeat;
  background-size: auto;
  background-position: right bottom;
  background-position-y: 70%;
  height: 512px;
  position: relative;
}
#Fulfilment-Container04 .Container04_Wrap {
  display: flex;
  /* align-items: start; */
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Fulfilment-Container04 .Container04_Wrap img {
  width: auto;
}
#Fulfilment-Container04 .Container04_Wrap .Text_Wrap {
  text-align: start;
  margin-left: 80px;
}
#Fulfilment-Container04 .Container04_Wrap .Text_Wrap h3 {
  color: #4063fe;
  font-size: 44px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 28px;
}
#Fulfilment-Container04 .Container04_Wrap .Text_Wrap p {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 7px;
  line-height: 32px;
}
@media (max-width: 769px) {
  #Fulfilment-Container04 {
    background: unset;
    height: 450px;
  }
  #Fulfilment-Container04 .Container04_Wrap {
    flex-wrap: wrap;
    padding-right: 0;
  }
  #Fulfilment-Container04 .Container04_Wrap img {
    width: 40%;
  }
  #Fulfilment-Container04 .Container04_Wrap .Text_Wrap {
    margin-left: 0;
    text-align: center;
  }
  #Fulfilment-Container04 .Container04_Wrap .Text_Wrap h3 {
    font-size: 36px;
    margin: 20px 0;
  }
  #Fulfilment-Container04 .Container04_Wrap .Text_Wrap p {
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
  }
}
