#Container01 {
  position: relative;
}
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.video-container video {
  z-index: 1;
  height: 100%;
}
#Container01 .Main_title {
  z-index: 9;

  font-size: 56px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 쉐도우 효과 */
}
#Container01 .Main_title span:nth-child(1) {
  color: #fff;
}
#Container01 .Main_title span:nth-child(3) {
  color: #31d2b5;
}
#Container01 .Sub_title {
  color: #fff;

  font-size: 24px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 쉐도우 효과 */
  margin: 50px 0px 20px;
  z-index: 9;
}
#Container01 > p.Main_title > span:nth-child(2) {
  color: #31d2b5;
}
#Container01 .Link_btn {
  display: flex;
  justify-content: center;
  z-index: 9;
}
#Container01 .Link_btn .Solution {
  margin-right: 7px;
  z-index: 9;

  background: #31d2b5;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 71px 15px 72px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16); /* 박스 쉐도우 효과 */
  cursor: pointer;
}
#Container01 .Link_btn .Request {
  z-index: 9;
  margin-left: 7px;
  background: #fff;

  font-size: 16px;
  font-weight: 700;
  padding: 14px 49px 15px 50px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16); /* 박스 쉐도우 효과 */
  cursor: pointer;
}

#Container01 .Link_btn .Solution a {
  color: #fff;
}
#Container01 .Link_btn .Request a {
  color: #000;
}
@media (max-width: 769px) {
  #PopupContent,
  #PopupOverlay {
    display: none;
  }
  .video-container {
    width: 100%;
  }
  .video-container video {
    width: 100%;
    object-fit: cover;
  }
  #Container01 {
    width: 100%;
    margin: 0 auto;
  }
  #Container01 > div.Main_title > p:nth-child(1) {
    font-size: 29px;
    color: #fff;
    margin-bottom: 0px;
    line-height: 40px;
  }
  #Container01 > div.Main_title > p:nth-child(2) {
    font-size: 29px;
    color: #31d2b5;
    margin: 20px 0;
  }
  #Container01 .Sub_title {
    margin: 0 0 50px;
    font-size: 0.9em;
    line-height: 32px;
  }
  #Container01 .Link_btn {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  #Container01 .Link_btn .Solution {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #Container01 .Link_btn .Request {
    width: 100%;
    margin-left: 0;
  }
}
